In [28]:
from PIL import Image

import pandas as pd
import numpy as np

import torch
import torch.nn as nn

# 0.Loading Dataset

In [45]:
img_train = []

for i in range(1,16009):
    ImagePATH = "data/Training/depth/"
    img_name = "depth_1_" + str(i).zfill(7) + ".png"
    ImagePATH = ImagePATH + img_name
    img_train.append(np.array(Image.open(ImagePATH)))

In [43]:
img_test = []

for i in range(1,1597):
    ImagePATH = "data/Testing/depth/"
    img_name = "depth_1_" + str(i).zfill(7) + ".png"
    ImagePATH = ImagePATH + img_name
    img_test.append(np.array(Image.open(ImagePATH)))

In [51]:
X_train = np.array(img_train)
X_test = np.array(img_test)

print("train dim:", X_train.shape)
print("test dim:", X_test.shape)

train dim: (16008, 240, 320)
test dim: (1596, 240, 320)

In [21]:
y_train = pd.read_csv("data/Training/Annotation_Training.csv",
                      usecols = [i for i in range(1,64)],
                      skiprows = [1,2,3])
y_test = pd.read_csv("data/Testing/Annotation_Testing.csv",
                      usecols = [i for i in range(1,64)],
                      skiprows = [1,2,3])

y_train.set_axis([i for i in range(63)], axis=1, inplace=True)
y_test.set_axis([i for i in range(63)], axis=1, inplace=True)

In [26]:
print("training dataset", y_train.shape)
y_train[:3]

training dataset (16008, 63)

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,-0.031708,0.040865,0.290511,-0.019334,0.041251,0.287696,0.011884,0.024025,0.275656,0.038861,...,0.250513,-0.048679,-0.092942,0.250398,-0.076540,-0.081296,0.259592,-0.102182,-0.051215,0.260291
1,-0.028827,0.037978,0.290511,-0.016392,0.038236,0.287957,0.012428,0.017265,0.275877,0.034965,...,0.243131,-0.050534,-0.095836,0.245898,-0.072333,-0.078274,0.246275,-0.105237,-0.048347,0.256106
2,-0.029726,0.038071,0.290511,-0.017351,0.038457,0.287696,0.013141,0.019797,0.275934,0.037685,...,0.250287,-0.048136,-0.096985,0.254787,-0.073842,-0.080096,0.253060,-0.104592,-0.050913,0.260729

In [27]:
print("test dataset", y_test.shape)
y_test[:3]

test dataset (1596, 63)

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,-0.025762,0.062795,0.388,-0.013202,0.063558,0.386310,0.019214,0.047413,0.376070,0.044468,...,0.354720,-0.036822,-0.077423,0.358041,-0.067887,-0.062541,0.359390,-0.100909,-0.022042,0.349739
1,-0.025762,0.062795,0.388,-0.013154,0.063417,0.386635,0.014531,0.047254,0.366924,0.039416,...,0.349546,-0.037949,-0.076623,0.354905,-0.068837,-0.061341,0.355797,-0.107532,-0.021519,0.354654
2,-0.025762,0.062795,0.388,-0.013154,0.063417,0.386635,0.014531,0.047254,0.366924,0.039416,...,0.351113,-0.036096,-0.072700,0.345769,-0.068837,-0.061341,0.355797,-0.107532,-0.021519,0.354654